:root {
  --primary-bg: #164863;
  --secondary-bg: #427D9D;
  --gray: #9BBEC8;
  --font: #DDF2FD;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

[data-theme="second"] {
  --primary-bg: #0B2447;
  --secondary-bg: #19376D;
  --gray: #576CBC;
  --font: #A5D7E8;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

[class*="col-"]{
  width: 100%;
  float: left;
}
@media screen and (max-width: 576px) {
  body{
      background-color: #802f2f;
  }
}
/*phone*/
@media only screen and (max-width: 600px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
 
  }
  

/* 600px*/
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 32%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/*tablets   */
@media only screen and (min-width: 768px) {
  .col-d-1 {width: 8.33%;}
  .col-d-2 {width: 16.66%;}
  .col-d-3 {width: 25%;}
  .col-d-4 {width: 32%;}
  .col-d-5 {width: 41.66%;}
  .col-d-6 {width: 50%;}
  .col-d-7 {width: 58.33%;}
  .col-d-9 {width: 75%;}
  .col-d-10 {width: 83.33%;}
  .col-d-11 {width: 91.66%;}
  .col-d-12 {width: 100%;}
} 
/*laptops*/
@media only screen and (min-width: 992px) {
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 32%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}

} 

h6,
h5,
h4,
h3,
h2,
h1,
p,
a,
label {
  color: var(--font);
}

body {
  height: 100vh;
  background-color: var(--secondary-bg);
  transition: background-color 0.1s ease-in-out;
}

.navbar {
  display: flex;
  padding: 1rem 4rem;
  text-decoration: none;
  justify-content: space-between;
  background-color: var(--primary-bg);
  transition: background-color 0.1s ease-in-out;
}

.btn-theme {
  font-size: 1.25rem;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--font);
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.active,
.nav-link:hover {
  color: var(--secondary-bg);
}

.container {
  display: block;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
}

.homepageCard {
  display: flex;
  flex-direction: column;
  margin: 0.6%;
  padding: 2% 0.6%;
  border: 2px solid var(--gray);
  border-radius: 1rem;
}

.photo {
  margin: 0 auto;
  width: 70%;
  display: block;
}

.name {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 3rem;
}

.divider {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-icon {
  font-size: 2.2rem;
  color: var(--font);
  margin: 0 1rem;
}

.divider-line {
  width: 100%;
  max-width: 8rem;
  height: 0.25rem;
  background-color: var(--font);
  border-radius: 1rem;
  border-color: var(--font);
}

.info {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  border: 0.125rem solid transparent;
  padding: 0.375rem 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--font);
  border-color: var(--font);
  margin: 0 0.5rem;
}

.btn-social:hover {
  background-color: var(--font);
  color: var(--primary-bg);
}

.activityCard {
  width: 33.3%;
  opacity: 100%;
  margin: 2%;
  padding: 2%;
  border: 2px solid var(--gray);
  border-radius: 1rem;
  transition: width 1s, opacity 2s;
}

.activityCard.hidden {
  opacity: 0;
  width: 0;
  margin: 2%;
  padding: 2%;
  border: 2px solid var(--gray);
  border-radius: 1rem;
}

.heading {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: .3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.form {
  margin-bottom: .3rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid var(--gray);
  border-radius: 4px;
}

label {
  display: inline-block;
}

.errorText {
  margin-left: inline-block;
  float: right;
  color: rgb(200, 0, 0);
}

.submit {
  margin-top: 4px;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.activityInfo {
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.8rem;
}

#descriptionOutput {
  font-size: 1.2rem;
}
